I'm a passionate Frontend Developer with 7+ years of experience crafting scalable, high-performance web applications using Angular, TypeScript, and modern frontend tools. I specialize in building clean, maintainable UI systems with strong attention to responsive design and accessibility.

My development philosophy is rooted in writing modular code, embracing Agile principles, and continuously improving through clean architecture and collaboration. I'm also experienced in working with cloud platforms like Azure and tools like Git, Jira, and CI/CD workflows.

Currently, I'm focused on delivering intuitive, performant experiences that bridge design and technology.