<section id="projects" class="py-16 bg-gray-50 scroll-mt-20">
  
   <h1 class="skill-title text-4xl font-bold text-center text-gray-800 mb-10">
        PROJECTS
    </h1>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8 px-8 max-w-7xl mx-auto">
    <div class="bg-white rounded-xl shadow-md hover:shadow-xl transform hover:-translate-y-2 transition duration-300 p-6 flex flex-col">
          <div class="w-full h-40 mb-4 flex items-center justify-center bg-gray-100 rounded-md overflow-hidden">
           <img src="Widas.svg"
             alt="ERP Management System"
             class="max-w-full max-h-full object-contain" />
          </div>
          <h3 class="text-xl font-semibold mb-2 text-gray-500">Cidaas Identity Access Management</h3>
          <p class="text-sm text-gray-600">
            Built intuitive Angular/Tailwind UIs for login, MFA, and policy dashboards.
          </p>
    </div>
     <div class="bg-white rounded-xl shadow-md hover:shadow-xl transform hover:-translate-y-2 transition duration-300 p-6 flex flex-col">
          <div class="w-full h-40 mb-4 flex items-center justify-center bg-gray-100 rounded-md overflow-hidden">
           <img src="mouritech.png"
             alt="ERP Management System"
             class="max-w-full max-h-full object-contain" />
          </div>
          <h3 class="text-xl font-semibold mb-2 text-gray-500">Trinet HR</h3>
          <p class="text-sm text-gray-600">
             Developed AngularUI components for HR modules in a full‑scale ERP platform.
          </p>
    </div>
    <div class="bg-white rounded-xl shadow-md hover:shadow-xl transform hover:-translate-y-2 transition duration-300 p-6 flex flex-col">
          <div class="w-full h-40 mb-4 flex items-center justify-center bg-gray-100 rounded-md overflow-hidden">
           <img src="aaxeleron.png"
             alt="ERP Management System"
             class="max-w-full max-h-full object-contain" />
          </div>
          <h3 class="text-xl font-semibold mb-2 text-gray-500">Provider Insurance</h3>
          <p class="text-sm text-gray-600">
             Designed and implemented Angular interfaces for policy purchase, renewals, and claims workflows.
          </p>
    </div>
     <div class="bg-white rounded-xl shadow-md hover:shadow-xl transform hover:-translate-y-2 transition duration-300 p-6 flex flex-col">
          <div class="w-full h-40 mb-4 flex items-center justify-center bg-gray-100 rounded-md overflow-hidden">
           <img src="infoview.png"
             alt="ERP Management System"
             class="max-w-full max-h-full object-contain" />
          </div>
          <h3 class="text-xl font-semibold mb-2 text-gray-500">HUE</h3>
          <p class="text-sm text-gray-600">
            Enhanced Angular UI, performed manual testing, and integrated Java backend services for a comprehensive ERP solution.
          </p>
    </div>
    </div>
</section>