<section id="skills" [@fadeInStagger] class="py-16 bg-gray-100 scroll-mt-20">
    <h1 class="skill-title text-4xl font-bold text-center text-gray-800 mb-10">
        SKILLS
    </h1>

    <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-6 max-w-5xl mx-auto">
        <div
            class="skill-card bg-white shadow-lg rounded-xl flex flex-col items-center p-4 hover:scale-105 transition-transform duration-300">
            <img src="angular.png" alt="Angular" class="w-16 h-16 object-contain mb-4">
            <p class="text-gray-700 font-semibold">Angular</p>
        </div>
        <div
            class="skill-card bg-white shadow-lg rounded-xl flex flex-col items-center p-4 hover:scale-105 transition-transform duration-300">
            <img src="typescript.png" alt="Angular" class="w-16 h-16 object-contain mb-4">
            <p class="text-gray-700 font-semibold">Typescript</p>
        </div>
        <div
            class="skill-card bg-white shadow-lg rounded-xl flex flex-col items-center p-4 hover:scale-105 transition-transform duration-300">
            <img src="jsimg.png" alt="Angular" class="w-16 h-16 object-contain mb-4">
            <p class="text-gray-700 font-semibold">Javascript</p>
        </div>
        <div
            class="skill-card bg-white shadow-lg rounded-xl flex flex-col items-center p-4 hover:scale-105 transition-transform duration-300">
            <img src="css.png" alt="Angular" class="w-16 h-16 object-contain mb-4">
            <p class="text-gray-700 font-semibold">Css</p>
        </div>
        <div
            class="skill-card bg-white shadow-lg rounded-xl flex flex-col items-center p-4 hover:scale-105 transition-transform duration-300">
            <img src="html.png" alt="Angular" class="w-16 h-16 object-contain mb-4">
            <p class="text-gray-700 font-semibold">HTML5</p>
        </div>
        <div
            class="skill-card bg-white shadow-lg rounded-xl flex flex-col items-center p-4 hover:scale-105 transition-transform duration-300">
            <img src="git.png" alt="Angular" class="w-16 h-16 object-contain mb-4">
            <p class="text-gray-700 font-semibold">Git</p>
        </div>
        <div
            class="skill-card bg-white shadow-lg rounded-xl flex flex-col items-center p-4 hover:scale-105 transition-transform duration-300">
            <img src="bootstrap.png" alt="Angular" class="w-16 h-16 object-contain mb-4">
            <p class="text-gray-700 font-semibold">Bootstrap</p>
        </div>
        <div
            class="skill-card bg-white shadow-lg rounded-xl flex flex-col items-center p-4 hover:scale-105 transition-transform duration-300">
            <img src="tailwind.png" alt="Angular" class="w-16 h-16 object-contain mb-4">
            <p class="text-gray-700 font-semibold">Tailwind</p>
        </div>
        <!-- Repeat cards for each skill -->
    </div>
</section>